/Lottery/Lottery.Api/bin
/Lottery/Lottery.Api/obj
/Lottery/Lottery.Api/Lottery.Api.csproj.user
/Lottery/Lottery.ApiReference/bin
/Lottery/Lottery.ApiReference/obj
/Lottery/Lottery.Core/obj
/Lottery/Lottery.Core/bin
/Lottery/Lottery.Repository/obj
/Lottery/Lottery.Repository/bin
/Lottery/Lottery.Services/bin
/Lottery/Lottery.Services/obj
/Lottery/Lottery.TOOLS/bin
/Lottery/Lottery.TOOLS/obj
/Lottery/Lottery.UniteTest/bin
/Lottery/Lottery.UniteTest/obj
/Lottery/Lottery.Web/obj
/Lottery/Lottery.Web/Lottery.Web.csproj.user
/Lottery/Lottery.Web/bin
/Lottery/packages
/Lottery/Lottery.v12.suo
