@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MasterLogin</title>
</head>
<body>
    <div>
        管理员登陆
    </div>
</body>
</html>
