<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <!--定义输出到文件中(单个文件)-->
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <!--定义文件存放位置-->
      <file value="log\\log.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd-HH:mm:ss" />
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <footer value="by Eddie" />
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="记录时间：【%date】 线程ID:[%thread] 日志级别：%-5level 类：%logger property:[%property{NDC}] - 描述：%message%newline" />
      </layout>
    </appender>
    <!--定义输出到文件中(按日期、大小分割)-->
    <appender name="DateAndSizeLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd.lo\g" />
      <staticLogFileName value="false"/>
      <maximumFileSize value="3KB"/>
      <maxSizeRollBackups value="10"/>
      <rollingStyle value="Composite"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <footer value="by Eddie" />
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="记录时间：【%date】 线程ID:[%thread] 日志级别：%-5level 类：%logger property:[%property{NDC}] - 描述：%message%newline" />
      </layout>
    </appender>
    <!--定义输出到文件中按level划分(INFO:按日期、大小分割)-->
    <appender name="InfoDateAndSizeLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="in\foyyyyMMdd.lo\g" />
      <staticLogFileName value="false"/>
      <maximumFileSize value="1MB"/>
      <maxSizeRollBackups value="10"/>
      <rollingStyle value="Composite"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <footer value="by Eddie" />
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="记录时间：【%date】 线程ID:[%thread] 日志级别：%-5level 类：%logger property:[%property{NDC}] - 描述：%message%newline" />
      </layout>
      <!--设置输出级别范围（NONE(但不能配置为NONE) > FATAL > ERROR > WARN > INFO > DEBUG > ALL）-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ALL"/>
        <levelMax value="WARN"/>
      </filter>
    </appender>
    <!--定义输出到文件中按level划分(ERROR:按日期、大小分割)-->
    <appender name="ErrorDateAndSizeLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="erroryyyyMMdd.lo\g" />
      <staticLogFileName value="false"/>
      <maximumFileSize value="1MB"/>
      <maxSizeRollBackups value="10"/>
      <rollingStyle value="Composite"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <footer value="by Eddie" />
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="记录时间：【%date】 线程ID:[%thread] 日志级别：%-5level 类：%logger property:[%property{NDC}] - 描述：%message%newline" />
      </layout>
      <!--设置输出级别范围（NONE(但不能配置为NONE) > FATAL > ERROR > WARN > INFO > DEBUG > ALL）-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <!--定义输出到控制台命令行中-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <!--定义输出到windows事件中-->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <!--定义输出到数据库中，这里举例输出到SQL Server数据库中-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--<connectionString value="server=.;database=ECS;uid=sa;pwd=123456;timeout=300;" />-->
      <connectionString value="server=192.168.1.2;Initial Catalog=LOG4NET;Persist Security Info=True;User ID=sa;Password=123456;" />
      <commandText value="INSERT INTO SLog ([LOG_DT],[LOG_THREAD],[LOG_LEVEL],[LOG_LOGGER],[LOG_MESSAGE],[LOG_EXCEPTION]) VALUES (@date, @thread, @level, @logger,@message,@exception)" />
      <!--定义各个参数-->
      <parameter>
        <parameterName value="@date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%t" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <!--定义日志的输出媒介，下面定义日志以四种方式输出。也可以下面的按照一种类型或其他类型输出。-->
    <root>
      <!--文件形式记录日志
      <appender-ref ref="LogFileAppender" />-->
      <!--
      <appender-ref ref="DateAndSizeLogFileAppender"/>-->
      <appender-ref ref="InfoDateAndSizeLogFileAppender"/>
      <appender-ref ref="ErrorDateAndSizeLogFileAppender"/>
      <!--控制台控制显示日志
      <appender-ref ref="ConsoleAppender" />-->
      <!--Windows事件日志
      <appender-ref ref="EventLogAppender" />-->
      <!-- 如果不启用相应的日志记录，可以通过这种方式注释掉
      <appender-ref ref="AdoNetAppender" />-->
    </root>
    <appender name="TraceAppender" type="log4net.Appender.AdoNetAppender">
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--<connectionString value="server=.;database=ECS;uid=sa;pwd=123456;timeout=300;" />-->
      <connectionString value="server=192.168.1.2;Initial Catalog=LOG4NET;Persist Security Info=True;User ID=sa;Password=123456;" />
      <commandText value="INSERT INTO STrace ([TRC_DT],[TRC_THREAD],[TRC_LEVEL],[TRC_LOGGER],[TRC_MESSAGE],[TRC_EXCEPTION]) VALUES (@date, @thread, @level, @logger,@message,@exception)" />
      <!--定义各个参数-->
      <parameter>
        <parameterName value="@date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%t" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ALL"/>
        <levelMax value="DEBUG"/>
      </filter>
    </appender>
    <logger name="trace" additivity="false">
      <appender-ref ref="TraceAppender" />
    </logger>
  </log4net>
</configuration>
